<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>CFBundleDisplayName</key>
	<string>AUTOVIP</string>
	<key>CFBundleName</key>
	<string>AUTO.HLT.MOBILE.VIP</string>
	<key>CFBundleIdentifier</key>
	<string>com.bsoftgroup.auto.vip</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.8</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
  <key>GADApplicationIdentifier</key>
  <string>ca-app-pub-9881695093256851~7173700590</string>
  <key>GADIsAdManagerApp</key>
  <true/>
</dict>
</plist>
