@page "/sigup"
@inject NavigationManager _navigationManager

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase text-primary">Đăng ký tài khoản mới</h5>
                <form class="form-signin">
                    <div class="form-label-group">
                        <label for="inputUserName">Tên đăng nhập</label>
                        <input type="text" id="inputUserName" class="form-control" placeholder="Tên đăng nhập" required autofocus>
                    </div>
                    <hr />
                    <div class="form-label-group">
                        <label for="inputName">Tên</label>
                        <input type="text" id="inputName" class="form-control" placeholder="Tên" required autofocus>
                    </div>
                    <hr />
                    <div class="form-label-group">
                        <label for="inputPassword">Mật khẩu</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required>
                    </div>
                    <hr />
                    <div class="form-label-group">
                        <label for="inputPhone">Số điện thoại</label>
                        <input type="number" id="inputPhone" class="form-control" placeholder="Số điện thoại" required autofocus>
                    </div>
                    <hr />
                    <button class="btn btn-success btn-block text-uppercase" type="submit">Đăng ký tài khoản</button>
                    <hr />
                    <label class="text-dark ">Đã có tài khoản</label>
                    <button class="btn btn-primary btn-block text-uppercase" @onclick="@(()=>_navigationManager.NavigateTo("/login"))" type="submit">Đăng nhập ngay</button>
                </form>
            </div>
        </div>
    </div>
</div>

@code {

}