<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings><add name="AutohltAdminEntities" connectionString="metadata=res://*/Databases.AdminDb.csdl|res://*/Databases.AdminDb.ssdl|res://*/Databases.AdminDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\AutohltAdmin.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>