<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bsoft_autohltEntities" connectionString="metadata=res://*/Databases.autohltadmin.csdl|res://*/Databases.autohltadmin.ssdl|res://*/Databases.autohltadmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=171.244.202.45;initial catalog=bsoft_autohlt;persist security info=True;user id=bonglv;password=d1fc0nku.,;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>