@inherits LayoutComponentBase

@inject NavigationManager _navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="float-right">
                <button type="submit" @onclick=@Login class="btn btn-outline-danger mb-2">
                    <span class="oi oi-account-logout"></span> Đăng xuất
                </button>
                <button type="submit" @onclick=@Login class="btn btn-outline-primary mb-2">
                    <span class="oi oi-account-login"></span> Đăng nhập
                </button>
                <button type="submit" @onclick=@Sigup class="btn btn-outline-success mb-2">
                    <span class="oi oi-account-logout"></span> Đăng ký
                </button>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private void Login()
    {
        _navigationManager.NavigateTo("/login");
    }
    private void Sigup()
    {
        _navigationManager.NavigateTo("/sigup");
    }
}