<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>CFBundleDisplayName</key>
	<string>AUTOHLT</string>
	<key>CFBundleName</key>
	<string>AUTOHLT.MOBILE</string>
	<key>CFBundleIdentifier</key>
	<string>com.bsoftgroup.auto.hlt</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.12</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>XSAppIconAssets</key>
	<string>AppIcon.xcassets/AppIcons.appiconset</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The library I use requires this permission</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch Screen</string>
	<key>CFBundleVersion</key>
	<string>80</string>
  <key>GADApplicationIdentifier</key>
  <string>ca-app-pub-9881695093256851~8311353609</string>
  <key>GADIsAdManagerApp</key>
  <true/>
</dict>
</plist>
