@page "/"
@using RestSharp
@using AUTO.HLT.CRM.Models.BalanceTwilio
@using Newtonsoft.Json

<div class="card">
    <div class="card-body">
        <span class="text-info">Thời gian bây giờ là : @DateTime.Now.ToString("hh:mm:ss dd/MM/yyyy")</span>
        <br />
        <span class="text-primary">Số dư api sms là : @_balance?.Data?.balance @_balance?.Data?.currency</span>
    </div>
</div>


@code
{
    private string _uriUser = "http://api.autohlt.com/api/v1/user/CheckBalanceTwilio";
    private BalanceTwilioModel _balance = new BalanceTwilioModel();
    protected override async Task OnInitializedAsync()
    {
        await InitData();
    }

    private async Task InitData()
    {
        var client = new RestClient();
        client.BaseUrl = new Uri(_uriUser);
        var request = new RestRequest(Method.GET);

        var response = await client.ExecuteAsync(request);
        var html = response?.Content;
        if (!string.IsNullOrWhiteSpace(html))
        {
            _balance = JsonConvert.DeserializeObject<BalanceTwilioModel>(html);
        }
    }
}